:root {}

body {

    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434445;
}

/* header */

.nav .logo {
    color: #4D5AE5;
}


.nav .logo-studio {
    color: #2E2F42;
}

.nav .link {
    text-decoration: none;
}

.list-conect .link {
    color: #2E2F42;
}

.address-list .social {
    color: #434445;
}

/* hero image */
.hero {
    background-color: #2E2F42;
}

.hero .title {
    color: #ffffff;
}

.hero .button {
    background-color: #4D5AE5;
    color: #ffffff;
}

/* section 1 */

.section-1 .title {
    color: #2E2F42;
}

/* section2 */
.section-2 .title {
    color: #2E2F42;
}

.section-3 .title {
    color: #2E2F42;
}

/* section butt */

.list-butt .butt-filt {
    color: #4D5AE5;
    background-color: #F4F4FD;
}

.list-butt .butt-all {
    color: #ffffff;
    background-color: #404BBF;
}

/* gallary */

.gallary .title {
    color: #2E2F42;
}

.gallary .title-h1 {
    color: #2E2F42;
}

/* Footer */

footer {
    background-color: #2E2F42;
}

.footer .footer-logo {
    color: #4D5AE5;
}

.footer-logo .footer-studio {
    color: #F4F4FD;
}

.footer .footer-text {
    color: #F4F4FD;
}