:root {}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #434455;
}

ul {
    list-style-type: none;
}

/* #2E2F42color nav h1 h2 */
/* #4D5AE5 color web,buttun withiut all */
/* style logo */
/* header */
.nav .link {
    text-decoration: none;
}

.logo {
    color: #4D5AE5;
}

.logo .logo-studio {
    color: #2E2F42;
}

/* style nav */

.list .link {
    color: #2E2F42;
}

.address .social {
    color: #434455;
}

/* buttons */

.list-butt,
button {
    background-color: #f4f4fd;
    color: #4D5AE5;
}

.butt-all {
    background-color: #404BBF;
    color: #ffff;
}

/* gallary */

.gallary,
h2 {
    color: #2E2F42;
}

.gallary,
h1 {
    color: #2E2F42;
}

gallary,
p {
    color: #434455;
}

/* #F4F4FD footer text */
/* footer */
.footer-logo {
    color: #4D5AE5;
}

.footer-logo .footer-studio {
    color: #2E2F42;
}

.footer .footer-text {
    color: #F4F4FD;
}